body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #d9d9d9;
    text-align: center;
}

/* .logo {
    height: 50px;
    margin: 20px;
} */
.logo {
    height: 50px;
    margin: 20px;
    display: block;
    text-align: left;
    position: absolute;
    left: 20px;
    top: 20px;
}

#applelogo {
    height: 3.5rem;
}

#landing-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 6rem;
    padding: 5rem 10%;
}

#content-box {
    flex: 1;
    max-width: 500px;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
}

.download-button {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    margin-top: 1rem;
}

#image-box img {
    max-width: 100%;
    height: 650px;
}

footer {
    padding: 1rem;
    margin-top: 0rem;
    text-align: left;
    margin: 20px;
    left: 20px;
    font-family: serif;
}

footer a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* footer nav a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
    
} */

@media (max-width: 800px) {
    #landing-container {
        flex-direction: column;
        text-align: center;
        gap: 2em;
    }
    .logo {
        
        margin: 0 auto;
    }
}


#support-container {
    max-width: 600px;
    margin: 10rem auto;
    text-align: center;
}

.support-button {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    margin: 1.5rem 0;
}

#faq {
    margin-top: 2rem;
    font-style: italic;
    color: #666;
}

a {
    color: white;
}